/* MEDIA QUERIES PARA CELULAR */
@media (max-width: 500px) {
    main {
        width: 96.5vw;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: -80px;
    }

    img {
        border-radius: inherit;
        width: inherit; /* //114& */
        margin: -40px -40px 0 -40px;
    }

   
}